{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
    <link rel="icons" href="{% static 'img/management.png' %}" type="image/x-icon">

    <title>Change Password</title>
</head>
<body>
    <script src="{% static 'Js/change_password.js' %}"></script>
    <h1>Change Password</h1>
    <p>Please enter your current password and a new password to change your password.</p>



    <form id="changePasswordForm" method="POST" onsubmit="return validateChangePassword()">
        <h2>Change Password</h2>
        {% csrf_token %}
        <label for="currentPassword">Current Password</label>
        <input type="password" name="currentPassword" id="currentPassword" required>
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" required>
        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="password" name="confirmNewPassword" id="confirmNewPassword" required>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>