{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Peralta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ojuju">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent Marker">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter One">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body> 
    {% load static %}
<nav>
    <div class="nav_bar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact_Us</a></li>
            <li><a href="{% url 'about' %}">About_Us</a></li>
            
            {% comment %} <li id="nav_end" style="float:right"><a href="{% url 'login' %}">Login</a></li>
            <li id="nav_end" style="float:right"><a href="{% url 'register' %}">Register</a></li> {% endcomment %}
            <li id="nav_end" style="float:right"> <a href="{% url 'logout' %}">Logout</a></li>
            <li id="nav_end" style="float:right"> <a href="{% url 'users' %}">Users</a></li>


            {% if user.is_authenticated %}
            <span id="nav_end" style="float:right">welcome.! {{ user.username }} </span>
            {% comment %}<li id="nav_end" >{{ user.username }}</li> {% endcomment %}            
            {% endif %}
        </ul>
    </div>
</nav>
    {% block content %}
        {% csrf_token %}
            {% if user.is_authenticated %}
            <p>Hello,<strong> {{ user.username }}</strong>, successfully logged in</p>
            <p id="content">A user management system oversees user authentication, authorization, and profile management, ensuring secure access to digital resources.
It streamlines account creation, permissions, and tracking user activities within an organization's systems, enhancing security and efficiency.</p>

            {% else %}
            <p>You are not logged in</p>
            {% endif %}

    {% endblock %}
</body>
