*{
    font-family: 'Josefin Sans';
}
body {
    background-image: url('../img/adduser.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}
h2{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    /* text-shadow: 2px 3px 15px rgb(230, 196, 196),-5px -3px 10px rgb(219, 195, 89),8px -3px 10px rgb(64, 30, 4); */
}
/* Apply styles to the form container */
form {
    width: 550px;
    padding: 60px;

 
    margin: 20px auto;
    box-shadow: -2px -2px 10px black, -4px -4px 30px black,3px 6px 30px black, 6px 6px 30px black,-6px 6px 20px black,6px -6px 20px black;
    border-radius: 15px;    
}

/* Style form labels */
form label {
    display: block;
    margin-bottom: 5px;
    color: #f4eeee;
    text-shadow: 2px 2px 10px black, -2px -2px 10px black, -2px -2px 10px black, 2px 2px 10px black;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Quicksand';
}

/* Style form input fields */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 18px;
    background: transparent;
    color:white;
}

/* Style submit button */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: none;
    font-size: 16px;
}

/* Style error messages */
.error-message {
    color: red;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #0069d9;
    position: relative;
    left: 10px;
    top: 10px;
    border-radius: 20px;
}
.Cancel-btn{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: none;
    font-size: 16px;
    position : relative;
    top: 20px;
    left: 10px;
}