{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Carter+One"
      rel="stylesheet"
    />
    <title>INDEX</title>
  </head>

  <body>
    <!-- <nav class="nav_bar">
        <ul>
            <span id="nav_end">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </span>
        </ul>
    </nav> -->
    <main>
      <!-- <h1>Welcome! This is My <span>User Management System..<img src="{% static 'img/ums_profile.png' %}" -->
      <!-- width="40px"></span></h1> -->

      <div class="container">
        <p class="heading">User Management System</p>

        <div class="log_reg_buttons">
          <button class="login_btn left_btn">
            <a href="{% url 'login' %}">login</a>
          </button>
          <button class="login_btn right_btn">
            <a href="{% url 'register' %}">register</a>
          </button>
        </div>
        {% comment %}
        <img
          src="{% static 'img/png/project-manager1.png' %}"
          alt="Management Logo"
          width="1400px"
          height="600px"
        />
        {% endcomment %} {% comment %}
        <button class="login_btn"><a href="{% url 'login' %}">login</a></button>
        <button class="login_btn">
          <a href="{% url 'register' %}">register</a>
        </button>
        {% endcomment %}
      </div>
    </main>
  </body>
</html>
